@model HomeFinder.Models.PropertyType

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center mt-5 pt-3 pb-4" style="background-color:#d7d9dbb3;">

<h1>Create</h1>

<h4>PropertyType</h4>
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div @*asp-validation-summary="ModelOnly"*@ class="text-danger"></div>
            <div class="form-group">
                <label hidden asp-for="IconUrl" class="control-label"></label>
                <input type="file" name="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PropertyTypeName" class="control-label"></label>
                @* The following creates a dropdown for enum values. Gets values from viewbag in controller. *@
                <select asp-for="@Model.PropertyTypeName" class="form-control">
                    <option value="@PropertyTypeName.House">@PropertyTypeName.House</option>
                        <option value="@PropertyTypeName.Apartment">@PropertyTypeName.Apartment</option>
                        <option value="@PropertyTypeName.Townhouse">@PropertyTypeName.Townhouse</option>
                        <option value="@PropertyTypeName.Farm">@PropertyTypeName.Farm</option>
                        <option value="@PropertyTypeName.Lot">@PropertyTypeName.Lot</option>
                </select>
                <span asp-validation-for="PropertyTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
