@model HomeFinder.Models.PropertyObject

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card mb-2">
        <div class="card-header">
            <h5>
                @Html.DisplayFor(model => model.Address.StreetAddress), @Html.DisplayFor(model => model.Address.City)
            </h5>
        </div>
        <div class="row g-0">
            <div class="col-12">
                <div class="card-img">
                    @*inte fixat så bilderna kopplat till objektet laddas upp*@
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" intervall="8000">
                        <div class="carousel-inner" style="height: 600px;">
                            @{
                                var first = true;
                            }
                            @foreach (var item in @Model.Images)
                            {
                                <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))" style="height: 600px;">
                                    <img class="w-100 h-100" style="object-fit: cover;" src="@item.Path" asp-append-version="true" alt="@item.AltText">
                                    
                                </div>
                                first = false;
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-12">
                <div class="card-body">
                    <button type="button" class="btn btn-danger float-right"><i class="fa-solid fa-heart"></i></button>

                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.Status):        </b>@Html.DisplayFor(model => model.Status)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.ListPrice):     </b>@Html.DisplayFor(model => model.ListPrice)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.PropertyType):  </b>@Html.DisplayFor(model => model.PropertyType.PropertyTypeName)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.LeaseType):     </b>@Html.DisplayFor(model => model.LeaseType.Name)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.Realtor):       </b>@Html.DisplayFor(model => model.Realtor.FirstName) @Html.DisplayFor(model => model.Realtor.LastName), @Html.DisplayFor(model => model.Realtor.Company.Name)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.NumberOfRooms): </b>@Html.DisplayFor(model => model.NumberOfRooms)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.Area):          </b>@Html.DisplayFor(model => model.Area)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.NonLivingArea): </b>@Html.DisplayFor(model => model.NonLivingArea)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.LotArea):       </b>@Html.DisplayFor(model => model.LotArea)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.Address):       </b><br />@Html.DisplayFor(model => model.Address.StreetAddress)<br />@Html.DisplayFor(model => model.Address.PostalCode)<br />@Html.DisplayFor(model => model.Address.City)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.Description):   </b>@Html.DisplayFor(model => model.Description)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.YearBuilt):     </b>@Html.DisplayFor(model => model.YearBuilt)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.NextShowingDateTime): </b>@Html.DisplayFor(model => model.NextShowingDateTime)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.UploadedDate):  </b>@Html.DisplayFor(model => model.UploadedDate)</p>

                </div>
            </div>
        </div>
        <div class="m-2">
            |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>