@using HomeFinder.Models
@model IEnumerable<HomeFinder.Models.PropertyObject>
@inject HomeFinder.Data.HomeFinderContext db

@{
    ViewData["Title"] = "Main Page";

    var props = db.PropertyObjects.ToList();

    var maxPrice = (int)props.Max(p => p.ListPrice);
    var minPrice = (int)props.Min(p => p.ListPrice);

    var maxArea = (int)props.Max(p => p.Area);
    var minArea = (int)props.Min(p => p.Area);
    
}

<h2 class="my-4">Properties</h2>


<div class="">
    <div class="col-12">
        <form asp-action="Index" class="col-3 float-right">
            <div class="form_container">
                <h5 style="text-align: center;">Filter Search</h5>
            <article class="card-group-item">
                <div class="my-1">
                    <input type="text" name="searchString" placeholder="City or Street" class="form-control col-12" />
                </div>
            </article>
            <article class="card-group-item">
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label>Min</label>
                    <input type="number" name="minPrice" class="form-control" id="minimum-value">
                    </div>
                    <div class="form-group col-md-6 text-right">
                    <label>Max</label>
                    <input type="number" name="maxPrice" class="form-control" id="maximum-value">
                    </div>
                </div>
                <div class="middle w-100">
                    <div class="multi-range-slider">
                        <input type="range"  id="input-left" min="@minPrice" max="@maxPrice" value="@minPrice" />
                        <input type="range"  id="input-right" min="@minPrice" max="@maxPrice" value="@maxPrice" />

                    <div class="slider">
                    <div class="track"></div>
                    <div class="range"></div>
                    <div class="thumb left"></div>
                    <div class="thumb right"></div>
                </div>
                </div>
                </div>
            </article>
             <article class="card-group-item">
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label>Min</label>
                    <input type="number" name="minPrice" class="form-control" id="minimum-value">
                    </div>
                    <div class="form-group col-md-6 text-right">
                    <label>Max</label>
                    <input type="number" name="maxPrice" class="form-control" id="maximum-value">
                    </div>
                </div>
                <div class="middle w-100">
                    <div class="multi-range-slider">
                        <input type="range"  id="input-left" min="@minArea" max="@maxArea" value="@minArea" />
                        <input type="range"  id="input-right" min="@minArea" max="@maxArea" value="@maxArea" />

                    <div class="slider">
                    <div class="track"></div>
                    <div class="range"></div>
                    <div class="thumb left"></div>
                    <div class="thumb right"></div>
                </div>
                </div>
                </div>
            </article>
            <article class="card-group-item">
                <div class="my-2">
                    <h6 style="text-align:center;">Number of rooms</h6>
                    <label for="minNumRooms">Min</label>
                    <input type="number" name="minNumRooms" step="1" class="form-control-sm col-4" />
                    <label for="maxNumRooms">Max</label>
                    <input type="number" name="maxNumRooms" step="1" class="form-control-sm col-4 float-right" />
                </div>
            </article>
            <article class="card-group-item">
                <div class="checkbox_wrapper">
                    <div class="checkbox_title">
                        <h6>Choose Property Type</h6>
                    </div>

                    <div class="checkbox_container">
                        <label class="option_item">
                            <input type="checkbox" name="checkBoxHouse" class="checkbox_search" id="house_option" />
                            <div class="option_inner">
                                <div class="icon_search"><i class="fa-solid fa-house"></i></div>
                                <div class="name_search">House</div>
                            </div>
                        </label>
                        <label class="option_item">
                            <input type="checkbox" name="checkBoxApartment" class="checkbox_search" id="apartment_option" />
                            <div class="option_inner">
                                <div class="icon_search"><i class="fa-solid fa-building"></i></div>
                                <div class="name_search">Apartment</div>

                            </div>
                        </label>
                        <label class="option_item">
                            <input type="checkbox" name="checkBoxTownhouse" class="checkbox_search" id="townhouse_option" />
                            <div class="option_inner">
                                <div class="icon_search"><i class="fa-solid fa-city"></i></div>
                                <div class="name_search">Townhouse</div>

                            </div>
                        </label>
                        <label class="option_item">
                            <input type="checkbox" name="checkBoxFarm" class="checkbox_search" id="farm_option" />
                            <div class="option_inner">
                                <div class="icon_search"><i class="fa-solid fa-industry"></i></div>
                                <div class="name_search">Farm</div>

                            </div>
                        </label>
                        <label class="option_item">
                            <input type="checkbox" name="checkBoxLot" class="checkbox_search" id="lot_option" />
                            <div class="option_inner">
                                <div class="icon_search"><i class="fa-solid fa-vector-square"></i></div>
                                <div class="name_search">Lot</div>

                            </div>
                        </label
                    </div>
                </div>
                
            </article> <!-- card-group-item.// -->
            <div class="my-3" style="text-align:center;">
            <input type="submit" value="Filter" class="btn btn-success btn-sm mr-3"/>
            <a asp-action="Index" class="btn btn-secondary btn-sm">Clear</a>
            </div>
            </div>
        </form>
        @foreach (var propertyobject in Model)
        {

            <div class="card mb-2">
                <a style="text-decoration: none;" asp-controller="MainPage" asp-action="Details" asp-route-id="@propertyobject.Id">
                    <div class="row g-0">
                        <div class="col-7">
                            @*inte fixat så bilderna kopplat till objektet laddas upp*@
                            <a asp-controller="MainPage" asp-action="Details" asp-route-id="@propertyobject.Id">
                                <img class="w-100" style="object-fit:cover" src="@propertyobject.Images[0].Url" alt="@propertyobject.Images[0].AltText">
                            </a>
                        </div>
                        <div class="col-5">
                            <div class="card-body">

                                <button type="button" class="btn btn-danger float-right"><i class="fa-solid fa-heart"></i></button>
                                <h5 class="card-text mb-4" style="text-align: center;">@propertyobject.Address.StreetAddress</h5>
                                <p class="card-text"><b>City:</b> @propertyobject.Address.City</p>
                                <p class="card-text"><b>Property type:</b> @propertyobject.PropertyType.PropertyTypeName.ToString()</p>
                                <p class="card-text"><b>Rooms:</b> @propertyobject.NumberOfRooms.ToString("0")</p>
                                <p class="card-text"><b>Area:</b> @propertyobject.Area.ToString("0") sqm</p>
                                @if (@propertyobject.NonLivingArea > 0)
                                {
                                    <p class="card-text"><b>Biarea:</b> @propertyobject.NonLivingArea.ToString("0") sqm</p>
                                }
                                @if (@propertyobject.LotArea > 0)
                                {
                                    <p class="card-text"><b>Lot size:</b> @propertyobject.LotArea.ToString("0") sqm</p>
                                }
                                <p class="card-text"><b>Price:</b> @propertyobject.ListPrice.ToString("c")</p>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

</div>