@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Areas/Identity/Pages/_AuthLayout.cshtml";
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v13.0&appId=1016696278951781&autoLogAppEvents=1" nonce="3s212lDj"></script>
<h2>@ViewData["Title"]</h2>

    <div class="col-md-12">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="text-center m-4">
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary fb-button" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook-f"></i> Log in with @provider.DisplayName</button>
                                }
                            </p>
                            <h5>Or</h5>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    <div class="col-md-12">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-md-10">
                <div class="input-data">
                    <label asp-for="Input.Email" id="email"></label>
                    <input asp-for="Input.Email" class="form-control" onfocus="emailLabelStayUp()"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="input-data">
                    <label asp-for="Input.Password" id="password"></label>
                    <input asp-for="Input.Password" class="form-control" onfocus="passwordLabelStayUp()"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
@section Scripts {
    <script type="text/javascript">
        function passwordLabelStayUp(){
            const password = document.getElementById("password")

            password.classList.toggle("label-label-active")

        }
        function emailLabelStayUp(){
            const email = document.getElementById("email")

            email.classList.toggle("label-label-active")

        }
    </script>
  
<script>

    FB.login(function(response) {
    if (response.authResponse) {
     console.log('Welcome!  Fetching your information.... ');
     FB.api('/me', function(response) {
       console.log('Good to see you, ' + response.name + '.');
     });
    } else {
     console.log('User cancelled login or did not fully authorize.');
    }
});

  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();  
    } else {                                 // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.';
    }
  }


  function checkLoginState() {               // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }


  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1016696278951781',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v13.0'           // Use this Graph API version for this call.
    });


    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };
 
  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

  </script>



    <partial name="_ValidationScriptsPartial" />
}
