@page
@model HomeFinder.Areas.Identity.Pages.Account.RegisterRealtorModel
@{
    ViewData["Title"] = "Register as realtor";
    Layout = "/Areas/Identity/Pages/_AuthLayout.cshtml";
}


<h2>@ViewData["Title"]</h2>


     <div class="col-md-12">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="text-center m-4">
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary fb-button" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook-f"></i>   Register with @provider.DisplayName</button>
                                }
                            </p>
                            <h5>Or</h5>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <div class="text-center">
                <a class="btn btn-primary fb-button" href="/Identity/Account/Register">Register as user</a>
            </div>
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
            <div class="col-md-6">
                <div class="input-data">
                    <label asp-for="Input.FirstName" id="firstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" onfocus="firstNameLabelStayUp()"/>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-data">
                    <label asp-for="Input.LastName" id="lastName"></label>
                    <input asp-for="Input.LastName" class="form-control" onfocus="lastNameLabelStayUp()" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-data">
                    <label asp-for="Input.PhoneNumber" id="phoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" onfocus="phoneNumberLabelStayUp()"/>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-data">
                    <label asp-for="Input.Email" id="email"></label>
                    <input asp-for="Input.Email" class="form-control" onfocus="emailLabelStayUp()"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <div class="input-data">
                        <label asp-for="Input.Company.Name" id="companyName"></label>
                        <input asp-for="Input.Company.Name" class="form-control" onfocus="companyNameLabelStayUp()"/>
                        <span asp-validation-for="Input.Company.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-data">
                        <label asp-for="Input.Company.OrgNumber" id="orginazationNumber"></label>
                        <input asp-for="Input.Company.OrgNumber" class="form-control" onfocus="orginazationNumberLabelStayUp()"/>
                        <span asp-validation-for="Input.Company.OrgNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-data">
                        <label asp-for="Input.Password" id="password"></label>
                        <input asp-for="Input.Password" class="form-control" onfocus="passwordLabelStayUp()" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-data">
                        <label asp-for="Input.ConfirmPassword" id="confirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" onfocus="confirmPasswordLabelStayUp()" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="custom-file">
                        <input asp-for="Input.RealtorProof" class="form-control custom-file-input"/>
                        <label class="custom-file-label">Insert relator proof</label>
                    </div>
                        <span asp-validation-for="Input.RealtorProof" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
   

@section Scripts {
    <script type="text/javascript">
        
        //Jquery to display filename that fileinput holds
        
        $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
        });
        
        //Js functions to keep label from not covering input if it holds a value

        function companyNameLabelStayUp(){
            const companyName = document.getElementById("companyName")

            companyName.classList.toggle("label-label-active")

        }
        function orginazationNumberLabelStayUp(){
            const orginazationNumber = document.getElementById("orginazationNumber")

            orginazationNumber.classList.toggle("label-label-active")

        }
        function firstNameLabelStayUp(){
            const firstName = document.getElementById("firstName")

            firstName.classList.toggle("label-label-active")

        }
        function lastNameLabelStayUp(){
            const lastName = document.getElementById("lastName")

            lastName.classList.toggle("label-label-active")

        }
        function phoneNumberLabelStayUp(){
            const phoneNumber = document.getElementById("phoneNumber")

            phoneNumber.classList.toggle("label-label-active")

        }
        function streetAddressLabelStayUp(){
            const address = document.getElementById("streetAddress")

            address.classList.toggle("label-label-active")

        }
        function countryLabelStayUp(){
            const address = document.getElementById("country")

            address.classList.toggle("label-label-active")

        }
        function cityLabelStayUp(){
            const address = document.getElementById("city")

            address.classList.toggle("label-label-active")

        }
        function postalCodeLabelStayUp(){
            const address = document.getElementById("postalCode")

            address.classList.toggle("label-label-active")

        }
        function emailLabelStayUp(){
            const email = document.getElementById("email")

            email.classList.toggle("label-label-active")

        }
        function passwordLabelStayUp(){
            const password = document.getElementById("password")

            password.classList.toggle("label-label-active")

        }
        function confirmPasswordLabelStayUp(){
            const confirmPassword = document.getElementById("confirmPassword")

            confirmPassword.classList.toggle("label-label-active")

        }

    </script>

    <partial name="_ValidationScriptsPartial" />
}
