@model IEnumerable<PropertyObject>
@{
    ViewData["Title"] = "Saved objects";
}
<h1>Saved objects</h1>

@if (Model.Count() < 1)
{
    <h2>No objects saved</h2>
}
else
{
  <div class="row">
    @foreach (var propObject in Model)
   {
       <div class="card" style="width: 23rem; height: 18rem; flex-direction:row;">
         <img src="@propObject.Images[0].Url" class="card-img w-50 h-100" alt="...">
            <div class="card-body">
               <h6 class="card-title">@propObject.Address.StreetAddress</h6>
                  <p class="card-text">Ort: @propObject.Address.City</p>
                  <p class="card-text">Bostadstyp: @propObject.PropertyType</p>
                  <p class="card-text">Pris: @propObject.ListPrice.ToString("c")</p>
                  <div class="bottom-right">
                  <label>
                      <input type="checkbox" name="">
                      
                          <i class="fa-solid fa-heart"></i>
                     
                  </label>
                 </div>
                      
                      
                </div>
               </div>
   }
</div>  
}
