@model IEnumerable<PropertyObject>
@{
    ViewData["Title"] = "Saved objects";
}
<h1 class="mb-5">Mina sparade object</h1>

@if (Model.Count() < 1)
{
    <h2>Du har inga sparade object</h2>
}
else
{
  <div class="row mb-5">
    @foreach (var propObject in Model)
   {
       <div class="card" style="width: 23rem; height: 18rem; flex-direction:row;">
         <a asp-controller="" asp-action="" asp-route-id="" class="w-50 h-100">
           <img src="@propObject.Images[0].Url" class="card-img h-100" alt="...">
           </a> 
           <div class="card-body">
               <h6 class="card-title">@propObject.Address.StreetAddress</h6>
                  <p class="card-text">Ort: @propObject.Address.City</p>
                  <p class="card-text">Bostadstyp: @propObject.PropertyType</p>
                  <p class="card-text">Pris: @propObject.ListPrice.ToString("c")</p>
                  <div class="bottom-right">
                  <label>
                      <input type="checkbox" name="">
                      
                          <i class="fa-solid fa-heart heart-animation"></i>
                     
                  </label>
                 </div>
                      
                      
                </div>
               </div>
   }
</div>  
}
<h1 class="mb-5">Mina intresseanmälningar</h1>

<h5>Du har inga intresseanmälningar</h5>