@model List<HomeFinder.Models.HomeFinderImages>
@inject HomeFinder.Data.HomeFinderContext context

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HomeFinderImages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (int i = 0; i < Model.Count(); i++)
            {
                <input type="hidden" asp-for="@Model[i].Id" />
                @*@if (ViewBag.Id == image.PropertyObjectId)
                    {*@
                <div class="form-group">
                    <input type="hidden" asp-for="@Model[i].Path" class="form-control"/>
                    <img class="w-100" style="object-fit:cover; " src="@Model[i].Path" asp-append-version="true">
                </div>
                <div class="form-group">
                    <label asp-for="@Model[i].AltText" class="control-label"></label>
                    <input asp-for="@Model[i].AltText" class="form-control" />
                    <span asp-validation-for="@Model[i].AltText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model[i].PropertyObjectId" class="form-control" />
                </div>
                @*}*@
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
